In [1]:
import pymysql

In [2]:
conn = pymysql.connect(host = "localhost" , user = "root" , password = "1024" , 
                       db = "作业" , charset='utf8') ##连接

In [3]:
cur = conn.cursor()  # 游标

In [27]:
##手动创建一个表格
sql = '''CREATE TABLE `data2` (
  `id` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `sex` varchar(255) DEFAULT NULL,
  `birth` varchar(255) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL
) ENGINE = InnoDB DEFAULT 
CHARSET = utf8mb4 
COLLATE = utf8mb4_0900_ai_ci;'''
cur.execute(sql)
result1 = cur.fetchall()
print(result1)

()

In [28]:
sql = '''INSERT INTO data2 (id,name,sex,birth,department,address) VALUES (901,'张老大','男',1985,'计算机系','北京市海淀区')
'''
sql1 = '''INSERT INTO data2(id, name, sex, birth, department, address) VALUES(902, '张老二', '男', 1986, '中文系', '北京市昌平区')'''
sql2 = '''INSERT INTO data2(id, name, sex, birth, department, address) VALUES(903, '张三', '女', 1990, '中文系', '湖南省永州市')'''
sql3 = '''INSERT INTO data2(id, name, sex, birth, department, address) VALUES(904, '李四', '男', 1990, '英语系', '辽宁省阜新市')'''
sql4 = '''INSERT INTO data2(id, name, sex, birth, department, address) VALUES(905, '王五', '女', 1991, '英语系', '福建省厦门市')'''
sql5 = '''INSERT INTO data2(id, name, sex, birth, department, address) VALUES(906, '王六', '男', 1988, '计算机系', '湖南省衡阳市')'''

In [29]:
cur.execute(sql)
cur.execute(sql1)
cur.execute(sql2)
cur.execute(sql3)
cur.execute(sql4)
cur.execute(sql5)

1

In [ ]:
conn.commit()

In [6]:
sql = "select * from data2"
cur.execute(sql)
result2 = cur.fetchall()
print(result2)

(('901', '张老大', '男', '1985', '计算机系', '北京市海淀区'), ('902', '张老二', '男', '1986', '中文系', '北京市昌平区'), ('903', '张三', '女', '1990', '中文系', '湖南省永州市'), ('904', '李四', '男', '1990', '英语系', '辽宁省阜新市'), ('905', '王五', '女', '1991', '英语系', '福建省厦门市'), ('906', '王六', '男', '1988', '计算机系', '湖南省衡阳市'))

In [7]:
cur.close()
conn.close()